Receiver = [ETISStdRec]
Log		    = [LOG]

;------------------------------------------

[ETISStdRec]
DLL                 = ETISStdRec.DLL
FaultTolerance      = DISABLED
LoadBalancing       = F
AsyncSubscriptions  = true
Connection          = [CONN]
Heartbeat = 30
ReconAttempts		= 1

[CONN]
Transport           = [TCPClient]
ASCII               = F
Master              = Y

;---------------------------------------------------------
[TCPClient]
DLL                 = TLTCP.DLL
Connection          = 127.0.0.1:56009

[LOG]

Level	   = L
Path	= .
Days	   = 0
Enable	= NO